/* Добавляем стили для вертикального отображения */
.product-card {
    display: block;
    text-align: center;
    margin: 10px auto; /* Центрирование товаров по горизонтали и между рядами */
    width: 90%; /* Ширина товара */
}

body {

	/*color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);*/

    color: black;
	background: white;
}

.buttons-container {
    width: 300px; /* Фиксированная ширина контейнера */
    overflow-x: auto; /* Разрешаем горизонтальную прокрутку */
    white-space: nowrap; /* Запрещаем перенос текста */
}

.product-card img {
    border-radius: 10px; /* Закруглить углы на 10 пикселей (можете выбрать другой радиус) */
}

.card-text {
    font-size: 13px;
}

.card-description-text {
    font-size: 14px;
    font-weight: lighter;
    text-align: justify;
}

/* Стили для верхней надписи "Каталог" и панели фильтров */
.catalog-title {
    top: 0%;
    left: 10%;
    right: 0;
    z-index: 100;
}

.filter-panel {
    position: fixed;
    top: 40px; /* Высота верхней надписи "Каталог" */
    left: 0;
    right: 0;
    z-index: 100;
    padding: 10px;
}

.filter-menu {
    display: none;
    padding: 10px;
}

.show-filters {
    cursor: pointer;
    text-decoration: underline;
}

.buttons-carousel {
    top: 40px;
    left: 10%;
    z-index: 100;

    text-align: center; /* Центрирование кнопок по горизонтали */
    padding: 5px;
    overflow: hidden; /* Скрываем горизонтальную прокрутку */
    white-space: nowrap;
}

.carousel-inner {
    display: flex;
    transition: transform 0.2s;
    user-select: none;
    cursor: grab;
    overflow: hidden;
    white-space: nowrap;
}


.carousel-button {
    width: auto;
    margin: 5px; /* Небольшой отступ между кнопками */
    font-size: 12px; /* Уменьшаем размер шрифта кнопок */
    display: inline-block;

    border: 1px solid black; /* Овальная черная граница */
    border-radius: 20px; /* Закругленные углы для овальной формы */
    padding: 6px 12px; /* Поля внутри кнопки */
}

.add-to-cart-button {
    width: auto;
    margin: 3px; /* Небольшой отступ между кнопками */
    font-size: 16px; /* Уменьшаем размер шрифта кнопок */
    display: inline-block;
    background-color: black; /* Белый фон */
    color: white; /* Черный текст */
    border: 1px solid black; /* Овальная черная граница */
    border-radius: 20px; /* Закругленные углы для овальной формы */
    padding: 6px 12px; /* Поля внутри кнопки */
}

.quantity-controls {
    display: none;
    justify-content: center;
    align-items: center;
}

.quantity-controls button {
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    text-align-all: center;
    padding-bottom: 33px;
}

.quantity-controls .quantity {
    font-size: 20px;
    padding: 0 10px;
}